[Unit]
Description=Minecraft server (%i)

Wants=network.target
After=network.target

[Service]
Type=simple

User=minecraft
Group=minecraft

NoNewPrivileges=yes
PrivateDevices=no
PrivateTmp=no
ProtectHome=read-only
ProtectSystem=full
ReadWritePaths=/srv/minecraft

Environment="MINECRAFT_XMS=512M"
Environment="MINECRAFT_XMX=1024M"
Environment="SCREENDIR=/srv/minecraft/screen"
EnvironmentFile=-/srv/minecraft/%i/environment.conf

WorkingDirectory=/srv/minecraft/%i

ExecStart=/srv/minecraft/service.sh %i start
ExecReload=/srv/minecraft/service.sh %i reload
ExecStop=/srv/minecraft/service.sh %i stop

RemainAfterExit=yes

Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
